@charset "UTF-8";
/* CSS Document */


body { background-color: #f4f4f4; }

a, a:hover { color: orange; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: orange;
	
}

.gray {
	background-color: #e2e2e2;
}

.glyphicon-cloud { font-size: 50px; color: yellow; }

.img-thumbnail { border: 3px solid red; }

.squirrelimg:hover { cursor: pointer; }

.fa { font-size: 50px; color: purple; }